[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
dj-database-url = "*"
django-heroku = "*"


[requires]

python_full_version = "3.6.4"


[dev-packages]
