{% extends 'app/base.html' %}
{% load static %}

{% block content %}
   <div class="intro-header toflip parallax"  style="background-image: url('{% static 'img/PL-Studio-1.jpg' %}')">
     <div class="container"> <div class="row">
        <div class="col-lg-12 text-center">
          <h2>NOUS TROUVER</h2>
        </div>
      </div>
    </div>
  </div>
  <section class="main-content pad50">
    <div class="container">
      <div class="row ">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 tofade">
          <div class="inner ">
            <h3 class="page-title">RESTAURANT LE LOCAL</h3>
            <p class="page-intro">455 Littoral Frédéric Mistral - 83000 Toulon - France </p>
            <p class="page-intro">TEL. 04 94 20 61 32</p>
<p class="page-intro">
  <a href="mailto:contact@restaurant-lelocal.fr">contact@restaurant-lelocal.fr</a>
</p>
<br>
<p class="page-intro">HORAIRES</p>
<p class="text-center">du mardi soir au dimanche midi 12:00 - 14:00, 20:00 - 22:00</p><br><br>
<p class="page-intro">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d626.2107679269975!2d5.939506363667414!3d43.103201099012225!2m3!1f0!2f41.543565138982906!3f0!3m2!1i1024!2i768!4f20!3m3!1m2!1s0x12c91b77f13c4fc7%3A0xd0fbcfabc6de2a6c!2s455+Littoral+Fr%C3%A9d%C3%A9ric+Mistral%2C+83000+Toulon!5e1!3m2!1sfr!2sfr!4v1482231827887" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>
</div>
</div>
</div>
</section>
{% endblock content %}
