{% extends 'app/base.html' %}
{% load static %}

{% block content %}
   <div class="intro-header toflip parallax"  style="background-image: url('{% static 'img/PL-Studio-26.jpg' %}')">
     <div class="container"> <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="page-title">LE MOT DU CHEF</h2>
        </div>
      </div>
    </div>
  </div>
  <section class="main-content pad50">
    <div class="container">
      <div class="row ">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 tofade">
          <div class="inner ">
            <h3 class="page-title">THIBAUD DURIX</h3>
            <p class="page-intro">"La cuisine que je propose au Local est pour moi le reflet de valeurs essentielles : l'authenticité, l'exigence et bien sûr la proximité.
              La proximité, c'est tous les producteurs de la région avec qui nous travaillons presque quotidiennement pour pouvoir proposer des produits frais et locaux. Sans oublier les vins de Provence qui garnissent notre cave.
              L'authenticité et la proximité impliquent aussi d'adapter sa cuisine au gré des saisons et des arrivages, et c'est ce qui me plait : proposer une cuisine locale, variée, savoureuse."</p>
<br><br><br>
</div>
</div>
</div>
</section>
{% endblock content %}
