{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<section style="height:100%">
    <div class="carousel slide carousel-montere carousel-overlay toflip" id="carousel">
        <div class="carousel-inner">
            <div class="item active item-1">
                <video autoplay loop id="myVideo">
                    <source src="{% static 'img/video.webm' %}" type="video/webm">
                    <source src="{% static 'img/video.mp4' %}" type="video/mp4">
                </video>
                <div class="carousel-caption text-center">
                    <h2>QUALITE ET SAVEUR <br>CUISINE LOCALE</h2>
                    <p>Le Local vous propose de découvrir les saveurs de la Côte d'Azur en cuisinant les meilleurs produits de saison.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% comment %} <section class="row-1 fluid-container">
    <div class="row">
        <div class="col-sm-6">
            <div id="qualitycycle-wrapper" class="half-block toflip">
                <div class="inner pad90">
                    <img src="{% static 'img/pineapple.png' %}" alt="icone">
                    <h4><small> GARANTIE </small> PRODUITS FRAIS ET DE SAISON</h4>
                    <p><a href="/edito" class="btn btn-light">EN SAVOIR PLUS</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="qualitymap-wrapper" class="half-block toflip">
                <div class="inner pad90">
                    <img src="{% static 'img/wine-menu.png' %}" alt="icone">
                    <h4><small> TOUS LES MOIS </small> NOUVELLE CARTE</h4>
                    <p><a href="/carte" class="btn btn-light">VOIR LA CARTE</a></p>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
{% endblock content %}
